{namespace b=OliverThiele\OtBootstrap3\ViewHelpers}
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://xsd.oliver-thiele.de/ns/typo3/cms-fluid/8.7/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:spaceless>
	<b:contentElementWrapper>
<f:render section="Main" />
	</b:contentElementWrapper>
</f:spaceless>
</html>
