{namespace b=OliverThiele\OtBootstrap3\ViewHelpers}
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://xsd.oliver-thiele.de/ns/typo3/cms-fluid/8.7/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<head>
	<meta charset="utf-8">
	<title>Template: Teaserbox</title>
    <link rel="stylesheet" href="./Public/css/bootstrap.min.css">
    <script src="./Resources/Public/Public/js/jquery-3.2.1.min.js"></script>
    <script src="./Public/js/handlebars-v4.0.10.js"></script>
    <script src="./Public/js/bootstrap.min.js"></script>
</head>
<body>

<f:layout name="Default" />

<f:section name="Main">

	<form>
           <div class="row">
                <div class="col-md-3">
                    <div class="ui search">
                        <input class="prompt" type="text" id="inputCompanyField" name="company" placeholder="Firma">
                        <div class="results"></div>
                    </div>
                </div>
                <div class="col-md-3"><input type="text" id="inputZipField" name="PLZ" placeholder="PLZ"></div>
                <div class="col-md-3"><input type="text" id="inputCityField" name="Ort" placeholder="Ort"></div>
                <div class="col-md-3"><input type="text" id="inputCountryField" name="Land" placeholder="Land"></div>
            </div>
            <div class="row">
                <div class="col-md-3"><input type="text" id="inputProductField" name="Produkt" placeholder="Produkt"></div>
                <div class="col-md-3">
                    <select name="Halle" id="inputHallField">
                        <option value="">alle Standorte</option>
                        <option value="2">Halle 1</option>
                        <option value="21">Halle 2</option>
                        <option value="1">Halle 3</option>
                        <option value="90">Halle 6</option>
                        <option value="82">Halle 7</option>
                        <option value="61">Galeria</option>
                    </select>
                </div>
                <div class="col-md-3"><input type="text" id="inputAreaField" name="Bereich" placeholder="Bereich"></div>
                <div class="col-md-3"><label>Ergebnisse: XX</label></div>
            </div>
            <div class="row"><button type="button" id="buStartSearch">Suche starten</button></div>
        </div>
    </form>

    <div id="ausstellerListe" data-endpoint="{flexform.endpoint}">
        <p>Ausstellerliste</p>
    </div>


</f:section>

</body>
</html>
